<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
    rel="stylesheet" />

  <title>Ejemplo con todos los terminos del curso</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css" />
  <link rel="stylesheet" href="assets/css/templatemo-grad-school.css" />
  <link rel="stylesheet" href="assets/css/owl.css" />
  <link rel="stylesheet" href="assets/css/lightbox.css" />

  <!-- Enlace al script ventana emergente -->
  <script src="assets/js/scriptve.js" defer></script>
</head>

<body>
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>EJEMPLO</em> WEB</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Inicio</a></li>
        <li class="has-submenu">
          <a href="#section2">Acerca de</a>
          <ul class="sub-menu">
            <li><a href="#section2">¿Quienes somos?</a></li>
            <li><a href="#section3">¿Qué hacemos?</a></li>
            <li><a href="#section3">¿Cómo funciona?</a></li>
          </ul>
        </li>
        <li><a href="#section4">Cursos</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contacto</a></li>
        <li>
          <a href="#" class="external" onclick="mostrarMensaje()">MÁS INFORMACIÓN</a>
        </li>

      </ul>
    </nav>
  </header>

  <!-- ***** Inicio del área del banner principal***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="caption">
        <h6>
          En esta pagina web encontraras ejemplos con las tres unidades que se
          han visto en el curso
        </h6>
        <h2><em>EJEMPLO</em> POR UNIDADES</h2>
        <div class="main-button">
          <brclass="scroll-to-section">
            <a href="#section2">Descubrir</a>
            <br> </br=>
            <br> </br=>
            <audio controls>
              <source src="assets/audio/audi_01.mp3" type="audio/mp3">
              Tu navegador no soporta el elemento de audio.
            </audio>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- ***** Fin del área del banner principal ***** -->

  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-file-text-o"></i>UNIDAD 1</h4>
              </div>
              <div class="content-hide">
                <p>Desarrollo de Elementos Software en el Entorno Cliente</p>

                <div class="scroll-to-section">
                  <a href="#section5">Más información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-file-text-o"></i>UNIDAD 2</h4>
              </div>
              <div class="content-hide">
                <p>
                  Implementación, Verificación y Documentación de Aplicaciones
                  Web
                </p>
                <div class="scroll-to-section">
                  <a href="#section3">más información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-file-text-o"></i>Unidad 3</h4>
              </div>
              <div class="content-hide">
                <p>Desarrollo de Elementos Software en el Entorno Servidor</p>
                <p class="hidden-sm">Desarrollo de Elementos Software en el Entorno Servidor.</p>
                <div class="scroll-to-section">
                  <a href="#section6">Más información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>¿Por qué elegir la escuela de posgrado?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id="tabs">
            <ul>
              <li><a href="#tabs-1">Mejor Educación</a></li>
              <li><a href="#tabs-2">Alta Gerencia</a></li>
              <li><a href="#tabs-3">Reunión de Calida</a></li>
            </ul>
            <section class="tabs-content">
              <article id="tabs-1">
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-01.png" alt="" />
                  </div>
                  <div class="col-md-6">
                    <h4>Mejor Educación</h4>
                    <p>
                      Explora el mundo de la educación superior en nuestra
                      página web dedicada a la vida de posgrado. Encuentra
                      información valiosa sobre programas académicos, consejos
                      para la aplicación, experiencias estudiantiles y
                      recursos útiles para prosperar en la universidad.
                      Prepárate para dar el siguiente paso en tu carrera
                      académica con nosotros.
                      <a href="https://www.holbertoncoderise.com/software-development?utm_source=Google&utm_medium=Search&utm_campaign=Campa%C3%B1a_ADQ_ADM&utm_id=Campa%C3%B1a_ADQ_ADM&gclid=CjwKCAiAqY6tBhAtEiwAHeRopXzgE8wdLcslUonk2hBfQTlBN71mDQ2unk7Pgd3jzmJ7L1IrdnoLxxoCvooQAvD_BwE"
                        target="_parent" rel="sponsored">Conoce más,</a>
                      por favor cuéntales a tus amigos sobre nosotros. Gracias
                    </p>
                  </div>
                </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>
                Lleva <em>cualquier curso en línea</em> y gana $326 para tu próxima
                clase
              </h4>
              <div class="counter">
                <div class="days">
                  <div class="value">00</div>
                  <span>Dias</span>
                </div>

                <div class="hours">
                  <div class="value">00</div>
                  <span>Horas</span>
                </div>

                <div class="minutes">
                  <div class="value">00</div>
                  <span>Minutos</span>
                </div>

                <div class="seconds">
                  <div class="value">00</div>
                  <span>Segundos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <div class="top-content">
              <h6>
                Registre su cuenta gratuita
                <em>y obtenga acceso inmediato</em> a cursos en línea
              </h6>
            </div>
            <form id="contact" action="/create" method="post" enctype="application/x-www-form-urlencoded">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input name="names" type="text" class="form-control" id="names" placeholder="Ingrese su nombre"
                      required="" />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email"
                      placeholder="Ingrese su correo electrónico" required="" />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="phone" type="text" class="form-control" id="phone"
                      placeholder="Ingrese su número de celular" required="" />
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">
                      Consiguelo ahora
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="assets/images/courses-01.jpg" alt="Course #1" />
            <div class="down-content">
              <h4>Digital Marketing</h4>
              <p>
                You can get free images and videos for your websites by
                visiting Unsplash, Pixabay, and Pexels.
              </p>
              <div class="author-image">
                <img src="assets/images/author-01.png" alt="Author 1" />
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-02.jpg" alt="Course #2" />
            <div class="down-content">
              <h4>Business World</h4>
              <p>
                Quisque cursus augue ut velit dictum, quis volutpat enim
                blandit. Maecenas a lectus ac ipsum porta.
              </p>
              <div class="author-image">
                <img src="assets/images/author-02.png" alt="Author 2" />
              </div>
              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-03.jpg" alt="Course #3" />
            <div class="down-content">
              <h4>Media Technology</h4>
              <p>
                Pellentesque ultricies diam magna, auctor cursus lectus
                pretium nec. Maecenas finibus lobortis enim.
              </p>
              <div class="author-image">
                <img src="assets/images/author-03.png" alt="Author 3" />
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-04.jpg" alt="Course #4" />
            <div class="down-content">
              <h4>Communications</h4>
              <p>
                Download free images and videos for your websites by visiting
                Unsplash, Pixabay, and Pexels.
              </p>
              <div class="author-image">
                <img src="assets/images/author-04.png" alt="Author 4" />
              </div>
              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-05.jpg" alt="" />
            <div class="down-content">
              <h4>Business Ethics</h4>
              <p>
                Pellentesque ultricies diam magna, auctor cursus lectus
                pretium nec. Maecenas finibus lobortis enim.
              </p>
              <div class="author-image">
                <img src="assets/images/author-05.png" alt="" />
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-01.jpg" alt="" />
            <div class="down-content">
              <h4>Photography</h4>
              <p>
                Quisque cursus augue ut velit dictum, quis volutpat enim
                blandit. Maecenas a lectus ac ipsum porta.
              </p>
              <div class="author-image">
                <img src="assets/images/author-01.png" alt="" />
              </div>
              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-02.jpg" alt="" />
            <div class="down-content">
              <h4>Web Development</h4>
              <p>
                Pellentesque ultricies diam magna, auctor cursus lectus
                pretium nec. Maecenas finibus lobortis enim.
              </p>
              <div class="author-image">
                <img src="assets/images/author-02.png" alt="" />
              </div>
              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-03.jpg" alt="" />
            <div class="down-content">
              <h4>Learn HTML CSS</h4>
              <p>
                You can get free images and videos for your websites by
                visiting Unsplash, Pixabay, and Pexels.
              </p>
              <div class="author-image">
                <img src="assets/images/author-03.png" alt="" />
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-04.jpg" alt="" />
            <div class="down-content">
              <h4>Social Media</h4>
              <p>
                Pellentesque ultricies diam magna, auctor cursus lectus
                pretium nec. Maecenas finibus lobortis enim.
              </p>
              <div class="author-image">
                <img src="assets/images/author-04.png" alt="" />
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-05.jpg" alt="" />
            <div class="down-content">
              <h4>Digital Arts</h4>
              <p>
                Quisque cursus augue ut velit dictum, quis volutpat enim
                blandit. Maecenas a lectus ac ipsum porta.
              </p>
              <div class="author-image">
                <img src="assets/images/author-05.png" alt="" />
              </div>
              <div class="text-button-free">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/courses-01.jpg" alt="" />
            <div class="down-content">
              <h4>Media Streaming</h4>
              <p>
                Pellentesque ultricies diam magna, auctor cursus lectus
                pretium nec. Maecenas finibus lobortis enim.
              </p>
              <div class="author-image">
                <img src="assets/images/author-01.png" alt="" />
              </div>
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>NUESTRA PRESENTACIÓN ES PARA TI</span>
            <h4>
              Mire el vídeo para obtener más información sobre la
              <em>escuela de posgrado</em>
            </h4>
            <p>
              Descubre lo que hace única a nuestra escuela de posgrado!
              Sumérgete en un emocionante viaje académico a través de nuestro
              video, donde destacamos programas innovadores, experiencias
              estudiantiles excepcionales y oportunidades de crecimiento
              profesional. Prepárate para inspirarte y obtener una visión
              completa de lo que te espera en nuestra vibrante comunidad
              educativa. ¡No te pierdas el siguiente video que redefine tu
              perspectiva sobre la educación de posgrado
              <a rel="nofollow"
                href="https://www.holbertoncoderise.com/software-development?utm_source=Google&utm_medium=Search&utm_campaign=Campa%C3%B1a_ADQ_ADM&utm_id=Campa%C3%B1a_ADQ_ADM&gclid=CjwKCAiAqY6tBhAtEiwAHeRopXzgE8wdLcslUonk2hBfQTlBN71mDQ2unk7Pgd3jzmJ7L1IrdnoLxxoCvooQAvD_BwE"
                target="_parent">Más información</a>
            </p>
            <div class="main-button">
              <a rel="nofollow" href="https://www.youtube.com/watch?v=fRUu37jUaqg" target="_parent">URL externo</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>MIRA EL SIGUIENTE VIDEO</h4>
            </div>
            <figure>
              <a href="https://www.youtube.com/watch?v=fRUu37jUaqg" 
                  class="play">
                  <img src="assets/images/main-thumb.png" />
              </a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Mantengámonos en contacto</h2>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->

          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Ingrese su nombre"
                    required="" />
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email"
                    placeholder="Ingrese su correo electrónico" required="" />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu mensaje..."
                    required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                    Envia un mensaje ahora
                  </button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2404.165048836566!2d-79.20158501545009!3d-3.99764901930001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb49250382aa87%3A0x7c2a377c05aa7726!2sAmbuludi%20Cuenca%20%26%20Asoc.!5e0!3m2!1ses!2sec!4v1705278193353!5m2!1ses!2sec"
              width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            <i class="fa fa-copyright"></i> Copyright 2020 by Tú escuela de
            posgrado |
            <a href="https://www.universidadviu.com/ec/maestria-desarrollo-web?var=no&c=I90503M7002&gad_source=1&gclid=CjwKCAiAqY6tBhAtEiwAHeRopaG0aVBMl5HyGJouhiM6DR_DCBGzHTWzhyteLzeGla6JNgqWfueXnhoCkvkQAvD_BwE&gclsrc=aw.ds"
              rel="sponsored" target="_parent">Siguenos</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/video.js"></script>
  <script src="assets/js/slick-slider.js"></script>
  <script src="assets/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $(".nav li:first").addClass("active");

    var showSection = function showSection(section, isAnimate) {
      var direction = section.replace(/#/, ""),
        reqSection = $(".section").filter(
          '[data-section="' + direction + '"]'
        ),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $("body, html").animate(
          {
            scrollTop: reqSectionPos,
          },
          800
        );
      } else {
        $("body, html").scrollTop(reqSectionPos);
      }
    };

    var checkSection = function checkSection() {
      $(".section").each(function () {
        var $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var currentId = $this.data("section"),
            reqLink = $("a").filter("[href*=\\#" + currentId + "]");
          reqLink
            .closest("li")
            .addClass("active")
            .siblings()
            .removeClass("active");
        }
      });
    };

    $(".main-menu, .scroll-to-section").on("click", "a", function (e) {
      if ($(e.target).hasClass("external")) {
        return;
      }
      e.preventDefault();
      $("#menu").removeClass("active");
      showSection($(this).attr("href"), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>